/* .contents{
    position: absolute;
    margin-left: 7%;
} */

.grid {
    list-style-type: none;
}

.selectbutton {
    text-align: right;
    margin: 100px;
}

.correctness {
    height: 80px;
    position: relative;
    bottom: 30px;
    text-align: center;
    line-height: 150px;
}