.grid {
    list-style-type: none;
}

.button {
    text-align: right;
}

.correctness {
    height: 80px;
    position: relative;
    bottom: 30px;
    text-align: center;
    line-height: 150px;
}