body {
    background-color: #F2F2F2;
    height: 100%;
    overflow: auto;
}

.paper {
    position: relative;
    margin: 50px;
    min-height: 90vh;
    border: 1px solid black;   
}

.pagination {
    margin-bottom: 50px;
    position: relative;
    bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    vertical-align: bottom;
}