body {
    background-color: #F2F2F2;
    height: 100%;
    overflow: auto;
}

.paper1 {
    position: relative;
    margin: 50px;
    min-height:80vh;
    border: 1px solid black;   
}

.pagination {
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transfor: translateX(-50%);
}