body{
    background-color: lightgrey;
    padding: 16;
    width:  auto;
    height:  500;
    overflow: auto;
    margin: 20px;
}
.card{
    width: auto;
    height: 500;
    margin-top: 10;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
    text-align: center;
}
.text {
    width:250;
    height: 30;
    /* display: inline-block; */
    margin-left: 20%;
    margin-top: 20;
}
